@media screen and (min-width: 1000px) {

.header{
display: flex;
justify-content: space-between;
}

.shapka{
    background: #29292D;
    width: 100%;
    height: 40px;

}
.text-shapka{
    color: white; 
    font-size: 24px; 
    font-family: Montserrat; 
    font-weight: 700; 
    word-wrap: break-word;
    position: absolute;
    margin-top: 5px;
    margin-left: 492px;
}
.header-logo{
width: 95px;
height: 95px;
background: #19191A;
border-radius: 9999px;
position: absolute;
margin-top: 63px;
margin-left: 679px;
}
.header-logo-kvad{
   width: 57px; 
   height: 57px; 
   border: 1.90px #FF1818 solid;
   margin-top: 19px;
   margin-left: 19px;
}
.header-logo-text{
width: 54px;
height: 12.81px;
text-align: 
center; color: white; 
font-size: 13px; 
font-family: Inter; 
font-weight: 300; 
word-wrap: break-word;
margin-top: 18px;
margin-left: 2px;

}
.shapka-icon{
width: 44px; 
height: 44px; 
background: #29292D; 
box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25); 
border-radius: 9999px;
position: absolute;
margin-top: 99px;
margin-left: 1111px;
}
.shapka-icon2{
width: 44px; 
height: 44px; 
background: #29292D; 
box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25); 
border-radius: 9999px;
position: absolute;
margin-top: 99px;
margin-left: 1174px;
    }
.shapka-icon3{
width: 44px; 
height: 44px; 
background: #29292D; 
 box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25); 
border-radius: 9999px;
position: absolute;
margin-top: 99px;
margin-left: 1238px;
        }

.shapka-icon-kor{
background: url(./kar/Vector.svg);
width: 16.11px; 
height: 22px;
margin-top: 11px;
margin-left: 13px;
}
.shapka-icon-kab{
width: 10.60px;
height: 10.60px;
background: url(./kar/Vector3.svg);
margin-top: 11px;
margin-left: 16px;
}
.shapka-icon-kab2{
width: 18.35px; 
height: 11.37px;
background: url(./kar/Vector-1.svg);
margin-top: 0px;
margin-left: 12px;
}
.shapka-icon-serd{
width: 19px; 
height: 19px;
background: url(./kar/Shape.svg);
margin-top: 13px;
margin-left: 12px;
}
.header-menu{
width: 84px; 
height: 0px; 
transform: rotate(90deg); 
transform-origin: 0 0; 
border: 1.6px black solid;
position: absolute;
margin-top: 174px;
margin-left: 140px;
}
.header-menu-text{
color: black;
font-size: 24px; 
font-family: Montserrat; 
font-weight: 700; 
word-wrap: break-word;
position: absolute;
margin-top: 202px;
margin-left: 172px;
}
.header-menu-text2{
color: black;
font-size: 24px; 
font-family: Montserrat;
font-weight: 700;
word-wrap: break-word;
margin-top: 202px;
margin-left: 324px;
position: absolute;
}
.header-menu-text3{
    color: black;
font-size: 24px; 
font-family: Montserrat;
font-weight: 700;
word-wrap: break-word;
margin-top: 202px;
margin-left: 456px;
position: absolute;
}
.header-menu-text4{
    color: black;
font-size: 24px; 
font-family: Montserrat;
font-weight: 700;
word-wrap: break-word;
margin-top: 202px;
margin-left: 627px;
position: absolute;
}
.header-menu-text5{
    color: black;
font-size: 24px; 
font-family: Montserrat;
font-weight: 700;
word-wrap: break-word;
margin-top: 202px;
margin-left: 738px;
position: absolute;
}
.header-poisk{
width: 255px; 
height: 44px; 
background: white; 
box-shadow: 5px 2px 30px rgba(40.91, 41.28, 44.62, 0.10) inset; 
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
position: absolute;
margin-top: 194px;
margin-left: 925px;
}
.header-poisk-text{
width: 204px;
 height: 21.51px;
  color: #B3C0D2; 
  font-size: 18px; 
  font-family: Ruda; 
  font-weight: 400; 
  word-wrap: break-word;
  margin-top: 10px;
  margin-left: 43px;
  border: none;
outline: none;
}
.header-poisk2{
width: 95px; 
height: 44px; 
background: #29292D; 
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
border-bottom-right-radius:50px;
border-top-right-radius:50px;
position: absolute;
margin-top: 194px;
margin-left: 1180px;
}
.header-poisk2-icon{
background: url(./kar/lupa.svg);
width: 27.45px; 
height: 27.38px;
margin-top: 7px;
margin-left: 34px;
}

.header-block-text{
width: 321px;
color: #A94C4C; 
font-size: 72px; 
font-family: Montserrat; 
font-weight: 900; 
text-transform: uppercase; 
word-wrap: break-word;
margin-top: 370px;
margin-left: 165px;
position: absolute;
}
.header-block-podtext{
width: 445px; 
color: #29292D; 
font-size: 48px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 165px;
margin-top: 583px;
 position: absolute;
}
.header-block-img{
background: url(./kar/pngwing\ 1.svg);
width: 610px; 
height: 413px;
position: absolute;
margin-top: 340px;
margin-left: 732px;
}
.header-button{
width: 282px; 
height: 85px; 
padding-left: 53px; 
padding-right: 53px; 
padding-top: 24px; 
padding-bottom: 24px; 
background: linear-gradient(94deg, ); 
box-shadow: 0px 15px 30px rgba(227, 47, 31, 0.15); 
border-radius: 50px; 
justify-content: flex-start; 
align-items: center; 
gap: 10px; 
display: inline-flex;
position: absolute;
margin-top: 736px;
margin-left: 165px;
background-color: #FF1818;
}
.header-button-text{
color: white; 
font-size: 24px; 
font-family: Montserrat;
 font-weight: 700; 
 word-wrap: break-word;
margin-left: 10px;
}
.header-block2{
color: #A94C4C; 
font-size: 48px; 
font-family: Montserrat; 
font-weight: 700; 
word-wrap: break-word;
position: absolute;
margin-top: 899px;
margin-left: 178px;
}
.header-minblock{
width: 560px; 
height: 205px; 
background: white;
box-shadow: 5px 50px 50px rgba(22, 92, 191, 0.10); 
border-radius: 20px;
position: absolute;
margin-top: 968px;
margin-left: 188px;
}
.header-minblock-img{
width: 190px; 
height: 170px; 
border-top-left-radius: 19px; 
border-top-right-radius: 19px;
background: url(./kar/316d0bc76c5383dadfccdffafa9627c8\ 1.svg);
margin-top: 8px;
margin-left: 11px;
position: absolute;
}
.header-minblock-text{
width: 285px; 
color: #A94C4C; 
font-size: 18px; 
font-family: Montserrat; 
font-weight: 700; 
text-transform: uppercase; 
word-wrap: break-word;
position: absolute;
margin-left: 197px;
margin-top: 44px;
}
.header-minblock-podtext{
width: 300px; 
color: #29292D; 
font-size: 14px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
position: absolute;
margin-top: 97px;
margin-left: 197px;
}
.header-minblock-data{
color: #B3C0D2; 
font-size: 12px; 
font-family: Ruda;
 font-weight: 400; 
 word-wrap: break-word;
position: absolute;
margin-left: 197px;
margin-top: 157px;
}
.header-minblock-img2{
width: 20px; 
height: 15px; 
padding-top: 4.04px; 
padding-bottom: 4.04px;
 justify-content: center; 
 align-items: center; 
 display: inline-flex;
 margin-top: 156px;
 position: absolute;
 margin-left: 441px;
 background: url(./kar/eye\ 1.svg);
}
.header-minblock-kol{
color: #B3C0D2; 
font-size: 12px; 
font-family: Ruda; 
font-weight: 400;
 word-wrap: break-word;
 position: absolute;
 margin-top: 159px;
 margin-left: 468px;
}
.header-minblock2{
width: 560px; 
height: 205px; 
background: white;
box-shadow: 5px 50px 50px rgba(22, 92, 191, 0.10); 
border-radius: 20px;
position: absolute;
margin-top: 1182px;
margin-left: 188px;
}
.header-minblock2-img{
width: 271px;
height: 205px; 
border-top-left-radius: 19px; 
border-top-right-radius: 19px;
background: url(./kar/91V7oHBmmoL\ 1.svg);
position: absolute;
}
.header-minblock2-text{
width: 240px; 
color: #A94C4C; 
font-size: 18px; 
font-family: Montserrat;
 font-weight: 900;
  text-transform: uppercase;
   word-wrap: break-word;
   position: absolute;
margin-left: 305px;
margin-top: 35px;
}
.header-minblock2-podtext{
width: 230px; 
color: #29292D; 
font-size: 14px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
position: absolute;
margin-top: 79px;
margin-left: 305px;
}
.header-minblock2-data{
color: #B3C0D2; 
font-size: 12px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
position: absolute;
margin-top: 162px;
margin-left: 305px;
}
.header-minblock2-img2{
width: 20px; 
height: 11.92px;
background: url(./kar/glaz.svg);
margin-top: 164px;
margin-left: 473px;
position: absolute;
}
.header-minblock2-kol{
color: #B3C0D2; 
font-size: 12px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
position: absolute;
margin-top: 164px;
margin-left: 500px;
}
.header-block3{
width: 540px; 
height: 325px; 
background: #29292D;
position: absolute;
margin-top: 995px;
margin-left: 748px;
border-radius: 10px;
}
.header-block3-text{
width: 410px; 
color: white; 
font-size: 24px; 
font-family: Montserrat; 
font-weight: 900; 
text-transform: uppercase; 
word-wrap: break-word;
margin-top: 30px;
margin-left: 65px;
}
.header-block4{
width: 540px; 
height: 239px; 
background: white; 
box-shadow: 5px 20px 60px rgba(22, 92, 191, 0.15); 
border-radius: 20px;
position: absolute;
margin-top: 1113px;
margin-left: 748px;
}
.header-block4-text{
color: #B3C0D2; 
font-size: 24px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-top: 45px;
margin-left: 65px;
border: none;
outline: none;
}
.header-block4-lin{
width: 410.01px; 
height: 0px; 
border: 2px #002C6A solid;
margin-top: 12px;
margin-left: 65px;
}
.header-block4-button{
width: 231px; 
height: 56px; 
padding-left: 53px; 
padding-right: 53px; 
padding-top: 24px; 
padding-bottom: 24px; 
background: #FF1818; 
box-shadow: 0px 15px 30px rgba(227, 47, 31, 0.15); 
border-radius: 50px; 
justify-content: flex-start; 
align-items: center; 
gap: 10px; 
display: inline-flex;
margin-top: 36px;
margin-left: 65px;
}
.header-block4-button-text{
color: white; 
font-size: 18px; 
font-family: Montserrat; 
font-weight: 700; 
word-wrap: break-word;
margin-top: 0px;
margin-left: 10px;
}
.header-block4-podtext{
color: #B3C0D2; 
font-size: 10px; 
font-family: Ruda;
 font-weight: 400; 
 text-decoration: underline; 
 word-wrap: break-word;
 margin-top: 10px;
 margin-left: 55px;
}
.header-blocki-kruc{
width: 144px;
height: 144px; 
background: #B3C0D2; 
border-radius: 9999px;
position: absolute;
margin-top: 1643px;
margin-left: 268px;
}
.header-blocki-img{
width: 77.77px; 
height: 80px;
background: url(./kar/paliz.svg);
margin-top: 25px;
margin-left: 33px;
}
.header-blocki-text{
width: 280px; 
text-align: center; 
color: #A94C4C;
font-size: 36px; 
font-family: Montserrat;
font-weight: 700; 
word-wrap: break-word;
position: absolute;
margin-top: 1830px;
margin-left: 200px;
}
.header-blocki2-kruc{
width: 144px;
height: 144px; 
background: #CFEBC6; 
border-radius: 9999px;
position: absolute;
margin-top: 1643px;
margin-left: 648px;
}
.header-blocki2-img{
background: url(./kar/help\ 1.svg);
height: 105px;
width: 105px;
margin-top: 20px;
margin-left: 20px;
}
.header-blocki2-text{
width: 280px; 
text-align: center; 
color: #A94C4C; 
font-size: 36px; 
font-family: Montserrat; 
font-weight: 700; 
word-wrap: break-word;
position: absolute;
margin-top: 1830px;
margin-left: 580px;
}
.header-blocki3-kruc{
width: 144px; 
height: 144px; 
background: #FFE1E1; 
border-radius: 9999px;
position: absolute;
margin-top: 1643px;
margin-left: 1027px;
}
.header-blocki3-img{
width: 85px; 
height: 85px; 
justify-content: center;
 align-items: center; 
 display: inline-flex;
 position: absolute;
 background: url(./kar/box\ 1.svg);
 margin-top: 29px;
 margin-left: 29px;
}
.header-blocki3-text{
width: 280px; 
text-align: center; 
color: #A94C4C; 
font-size: 36px; 
font-family: Montserrat; 
font-weight: 700; 
word-wrap: break-word;
position: absolute;
margin-top: 1830px;
margin-left: 959px;
}
.header-podval{
width: 100%; 
height: 298px;
background: #29292D;
position: absolute;
margin-top: 2403px;
}
.header-podval-logo{
width: 189.95px; 
height: 190px; 
background: #19191A; 
border-radius: 9999px;
margin-top: 46px;
margin-left: 100px;
position: absolute;
}
.header-podval-logo-kva{
width: 113.97px; 
height: 114px; 
border: 3.80px #FF1818 solid;
margin-top: 38px;
margin-left: 35px;
position: absolute;
}
.header-podval-logo-text{
width: 120px;
height: 29px; 
text-align: center; 
color: white; 
font-size: 24px; 
font-family: Inter; 
font-weight: 300; 
word-wrap: break-word;
position: absolute;
margin-top: 43px;
}
.header-podval-prend{
width: 168px;
height: 129px;
position: absolute;
background: url(./kar/Rectangle\ 41.svg);
justify-content: center;
 align-items: center; 
 display: inline-flex;
 margin-left: 545px;
 margin-top: 69px;
}
.header-podval-icon{
width: 35.09px; 
height: 35.11px; 
background: linear-gradient(133deg, #FFDD55 0%, #FF543E 50%, #C837AB 100%);
position: absolute;
margin-top: 67px;
margin-left: 1019px;
border-radius: 100%;
}
.header-podval-icon-img{
width: 25.85px; 
height: 25.88px;
background: url(./kar/ins.svg);
position: absolute;
margin-top: 4px;
margin-left: 4px;
}
.header-podval-icon2{
width: 35px; 
height: 35px; 
background: #4D76A1;
position: absolute;
margin-top: 67px;
margin-left: 1084px;
border-radius: 100%;
}
.header-podval-icon-img2{
width: 22.97px; 
height: 13.11px;
background: url(./kar/vk.svg);
margin-top: 12px;
margin-left: 5px;
}
.header-podval-icon3{
width: 34.99px; 
height: 35px; 
background: #4CAF50;
position: absolute;
margin-top: 67px;
margin-left: 1151px;
border-radius: 100%;
}
.header-podval-icon-img3{
width: 20.72px; 
height: 19.29px;
background: url(./kar/wat.svg);
margin-top: 8px;
margin-left: 7px;
}
.header-podval-tel{
width: 19.95px; 
height: 20px;
background: url(./kar/tel.svg);
margin-left: 1022px;
margin-top: 135px;
position: absolute;
}
.header-podval-tel-text{
width: 131.96px; 
color: #B3C0D2; 
font-size: 18px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 25px;
}
.header-podval-main{
width: 19.99px; 
height: 13.02px;
background: url(./kar/mail.svg);
margin-top: 175px;
margin-left: 1022px;
position: absolute;
}
.header-podval-main-text{
width: 193.95px; 
color: #B3C0D2; 
font-size: 18px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 25px;
margin-top: -5px;
}
.header-podval-text{
width: 62.98px; 
color: #B3C0D2; 
font-size: 14px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 1330px;
margin-top: 65px;
}
.header-podval-text2{
width: 62.98px; 
color: #B3C0D2; 
font-size: 14px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 1330px;
margin-top: 15px;
}
.header-podval-text3{
    width: 62.98px; 
    color: #B3C0D2; 
    font-size: 14px; 
    font-family: Ruda; 
    font-weight: 400; 
    word-wrap: break-word;
    margin-left: 1330px;
    margin-top: 15px;
    }
    .header-podval-text4{
        width: 62.98px; 
        color: #B3C0D2; 
        font-size: 14px; 
        font-family: Ruda; 
        font-weight: 400; 
        word-wrap: break-word;
        margin-left: 1330px;
        margin-top: 15px;
        }
        .header-podval-text5{
width: 62.98px; 
color: #B3C0D2; 
font-size: 14px; 
font-family: Ruda; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 1330px;
margin-top: 15px;
}
a{
    text-decoration: none;
    color: black;
}

}
